/*--HEDEAR--*/
.navbar{
	margin-bottom: 0;
}
/*SECCCION BANNER*/
#banner {
	margin-top: 50px;
	position: relative;
}
#banner img {
	width: 100%;
	height: 100%;
}
#banner .contenedor {
	position: absolute;/*para que tome de referencia la posicion banner principal #banner*/
	top: 50%;
	left: 25%;
	transform: translateX(-50%) translateY(-50%);/*para que se posicione en medio del banner*/
	color: #fff;
}

.jumbotron{
	background: #333;
	text-align: center;
	color: #fff;
	
}

.info-pet img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;	
}

/*media Querie para dispositvos moviles*/
@media screen and (max-width: 768px){
	.post .thumb{
		width: 100%; /*para que la imagen abarque el 100%*/
		margin-bottom: 20px;
		margin-right: 0;
	}
}